<h1>Create a New Note</h1>

<div id="new-note">
  <input id="new-note-title" placeholder="Give this note a title" />
  <input id="new-note-text" placeholder="Note text" />
  <input id"new-note-tag" placeholder="Enter the tag number you'd like to associate to this note" />
  <input id="giphy-gif" placeholder="Search for a gif to add to your note" />
  <button id="gifSearcher">Search Gif</button>
  <div id="gifResult" placeholder="Your GIF here..."></div>
  <label>If satisfied, hit create note to do just that</label>
  <button id="save-new-note">Create Note</button>
</div>

<script src="/app/public/new.js"></script>